.body-full{
    height: 88.5vh;
    width: 106%;
    margin-right: 60px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}
.cards{
    display: flex;
    margin-top: 10px;
}

.cards-body {
    border-radius: 10px;
    margin-left: 50px;
    width: 26%;
    height: 260px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.body-title{
    margin-bottom: -1.5rem;
    font-size: x-large;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bold;
}
.options{
    display: flex;
    margin-left: 74%;
    background-color: white;
    width: 19% ;
    height: 28px;
    border-radius: 3em;
    border: solid 1px;
}
.month-option{
    margin-left: 2.5px;
    background-color:#c9e4ff ;
    width: 50%;
    height: 21px;
    font-size: x-small;
    border-radius: 3em;
    text-align: center;
    margin-top: 2.8px;
}
.year-option{
    margin-left: 8px;
    background-color: white;
    width: 40%;
    height: 21px;
    font-size: x-small;
    border-radius: 3em;
    text-align: center;
    margin-top: 2.8px;
}
.button{
    background-color: burlywood;
    height: 26px;
    width: 42%;
    text-align: center;
    border-radius: 5px;
    font-size: x-small;
    font-weight: 500;
    margin-left: 21px;
    margin-top: 5px;
}
.cardss p{
    margin-bottom: 0rem !important;
    margin-left: 20px;
}
.user-text{
    margin-left: 11px;
}
